
#title{
font-family: 'Joti One', cursive;
text-align:center;
background-color: black;
color:white;
margin:0px 0px 0px 0px;
}

#toolbar{
border-Radius:10%;
border : 3px solid black ;
}

#back_Page{
background-image:url("./images/back_2.png");
background-repeat: no-repeat;
background-size:cover;
}



.btn-info{
border-Radius:40%;
display:inline-block;
width:80px;
height:60px;
margin:40px 30px 0px 25px;
}

.btn-sky{
color: #fff;
background-color: #0bacd3;
border-bottom:2px solid #098aa9;
margin:40px 30px 0px 25px;
}

#gomme{
background-image:url("./images/eraser.png");
background-repeat: no-repeat;
background-size:cover;
border-Radius:40%;
display:inline-block;
width:70px;
height:60px;
margin:40px 30px 0px 25px;

}

#buttons_ize{
width:80px;
border-Radius:40%;
display:inline-block;
height:60px;
margin:20px 30px 0px 25px;
}

#button_change{
margin:40px 0px 0px 5px;
width:80px;
height:60px;
}